# Deliverable 2. Create a Customer Travel Destinations Map

----

1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Geoapify API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame. Retrieve the latitude and longitude of each city and use the Geoapify API to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, set the hotel name as "No hotel found".

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Use GeoViews to create a map that displays a point for every city in the `clean_hotel_df` DataFrame. In the point for each city add:

    * The city name
    
    * The country code
    
    * The weather description
    
    * The point's size should be the maximum temperature for the city

15. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.

---

## Ensure that the dependencies and the Geoapify API key is imported correctly

In [52]:
# Dependencies and Setup
#import hvplot.pandas
#import pandas as pd
#import requests
#import gmaps
#import numpy as np

# Turn off warning messages
#import warnings
#warnings.filterwarnings("ignore")

# Import API key
#from config import geoapify_key

# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import gmaps
import numpy as np

# Turn off warning messages
import warnings
warnings.filterwarnings("ignore")

# Import API key
from config import geoapify_key

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`

In [53]:
# Import the WeatherPy_database.csv file. 
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,43.95,93,100,3.00,overcast clouds
1,1,Saskylakh,RU,71.9167,114.0833,-55.64,100,64,3.71,broken clouds
2,2,Hobart,AU,-42.8794,147.3294,66.06,84,21,6.91,few clouds
3,3,Carnarvon,AU,-24.8667,113.6333,74.53,73,0,25.37,clear sky
4,4,Yulara,AU,-25.2406,130.9889,83.23,33,2,6.38,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation

In [55]:
# Prompt the user to enter minimum and maximum temperature criteria.
# YOUR CODE HERE
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`

In [56]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc method.
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Yulara,AU,-25.2406,130.9889,83.23,33,2,6.38,clear sky
5,5,Cape Town,ZA,-33.9258,18.4232,76.10,57,20,13.80,few clouds
7,7,Puerto Ayora,EC,-0.7393,-90.3518,77.56,88,84,7.00,broken clouds
12,12,Bambous Virieux,MU,-20.3428,57.7575,79.05,73,75,8.05,broken clouds
13,13,Georgetown,MY,5.4112,100.3354,82.35,88,20,0.00,few clouds
19,19,Atuona,PF,-9.8000,-139.0333,77.49,73,83,9.55,broken clouds
22,22,Itarema,BR,-2.9248,-39.9167,87.48,54,98,16.84,overcast clouds
26,26,Rikitea,PF,-23.1203,-134.9692,78.01,76,8,19.84,clear sky
30,30,Hithadhoo,MV,-0.6000,73.0833,80.89,68,100,10.45,overcast clouds
36,36,Padang,ID,-0.9492,100.3543,76.51,91,100,5.10,overcast clouds

In [57]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows

In [58]:
# Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Yulara,AU,-25.2406,130.9889,83.23,33,2,6.38,clear sky
5,5,Cape Town,ZA,-33.9258,18.4232,76.10,57,20,13.80,few clouds
7,7,Puerto Ayora,EC,-0.7393,-90.3518,77.56,88,84,7.00,broken clouds
12,12,Bambous Virieux,MU,-20.3428,57.7575,79.05,73,75,8.05,broken clouds
13,13,Georgetown,MY,5.4112,100.3354,82.35,88,20,0.00,few clouds
...,...,...,...,...,...,...,...,...,...,...
682,682,Bela Vista,BR,-22.1089,-56.5211,84.69,60,59,4.63,broken clouds
684,684,Santiago Del Estero,AR,-27.7951,-64.2615,84.52,37,82,8.90,broken clouds
687,687,Saint-Paul,RE,-21.0096,55.2707,80.71,78,100,3.65,overcast clouds
689,689,Tessalit,ML,20.1986,1.0114,76.98,11,89,8.08,overcast clouds
690,690,Hinundayan,PH,10.3523,125.2506,75.43,93,96,7.63,moderate rain

In [36]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng"

In [59]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# YOUR CODE HERE
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame

In [60]:
# Create a new column "Hotel Name".
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Yulara,AU,83.23,clear sky,-25.2406,130.9889,
5,Cape Town,ZA,76.10,few clouds,-33.9258,18.4232,
7,Puerto Ayora,EC,77.56,broken clouds,-0.7393,-90.3518,
12,Bambous Virieux,MU,79.05,broken clouds,-20.3428,57.7575,
13,Georgetown,MY,82.35,few clouds,5.4112,100.3354,
19,Atuona,PF,77.49,broken clouds,-9.8000,-139.0333,
22,Itarema,BR,87.48,overcast clouds,-2.9248,-39.9167,
26,Rikitea,PF,78.01,clear sky,-23.1203,-134.9692,
30,Hithadhoo,MV,80.89,overcast clouds,-0.6000,73.0833,
36,Padang,ID,76.51,overcast clouds,-0.9492,100.3543,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city

In [61]:
# Set parameters to search for a hotel
radius = 5000
params = {
    "categories":"accommodation.hotel",
    "apiKey": geoapify_key,
    "limit":20
}

## Use a for loop to iterate through the `hotel_df` DataFrame. Retrieve the latitude and longitude of each city and use the Geoapify API to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, set the hotel name as "No hotel found"

In [62]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": geoapify_key
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`

In [63]:
# Drop the rows where there is no Hotel Name.
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

# Drop the rows where there is no Hotel Name.
no_hotel_name = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = no_hotel_name.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Yulara,AU,83.23,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
5,Cape Town,ZA,76.10,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
7,Puerto Ayora,EC,77.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Bambous Virieux,MU,79.05,broken clouds,-20.3428,57.7575,Casa Tia Villa
13,Georgetown,MY,82.35,few clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
681,Boa Vista,BR,87.78,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel
682,Bela Vista,BR,84.69,broken clouds,-22.1089,-56.5211,Bella Vista Palace Hotel
684,Santiago Del Estero,AR,84.52,broken clouds,-27.7951,-64.2615,Apartamentos Castelli 90
687,Saint-Paul,RE,80.71,overcast clouds,-21.0096,55.2707,Boucan Canot
690,Hinundayan,PH,75.43,moderate rain,10.3523,125.2506,Julies Lodge

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the `Vacation_Search`` folder

In [64]:
# Create the output File (CSV)
# YOUR CODE HERE

# Export the City_Data into a csv
# YOUR CODE HERE

# Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

## Use GeoViews to create a map that displays a point for every city in the `clean_hotel_df` DataFrame.

In the point for each city add:

* The city name
* The country code
* The weather description
* The point's size should be the maximum temperature for the city

In [65]:
# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE

# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))